:root {
  --brown: #875731;
  --light_brown: #a87638;
  --super_light_brown: #c59644;
  --chocolate: #5c210a;
  --dark_brown: #190918;
}
/* *{
     border : 1px solid red; 
} */
body {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}
/* ------------ HEADER AND NAV BAR ------------------ */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30rem;
  background-image: url("img/bakery.jpg");
  background-size: cover;
  color: #ffff;
}
nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 9rem 1.5rem 1rem;
  background-color: var(--dark_brown);
  mix-blend-mode: hard-light;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: #ffff;
  font-size: 2rem;
  font-family: "Bodoni Moda", serif;
}
#logo {
  height: 4rem;
  width: 4rem;
  background-image: url("img/gagne_pain_logo_transparent.png");
  background-size: cover;
}
#menu_burger {
  height: 3rem;
  width: 3rem;
  margin-top: 1rem;
  background-color: var(--super_light_brown);
  border-radius: 55%;
}
h1 {
  font-family: "Bodoni Moda", "Oswald", serif;
  padding: 2rem 0.5rem;
}
/* ------------------------- MENU BURGER -----------------*/
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 3rem;
  right: 1.5rem;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #d9d9d9;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 7rem;
  right: -100%;
  width: 10rem;
  height: fit-content;
  margin: 0;
  padding: 5rem 0;
  list-style: none;
  background-color: #d9d9d9;
  mix-blend-mode: hard-light;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: var(--dark_brown);
  font-family: "Bodoni Modona", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #cfd8dc;
}
/* --------------  SECTION 1  ------------------------- */
.brown_about {
  background: var(--brown);
  margin: 0;
  color: #ffff;
  text-align: center;
  padding: 1rem;
}
section p {
  margin: 2.5rem;
}

#icon1 {
  height: 7rem;
  width: 7rem;
  margin: auto;
  background-image: url("img/icon1.png");
  background-size: contain;
}

/* ------------------- SECTION 2 ------------------------- */

#icon2 {
  height: 7rem;
  width: 7rem;
  margin: auto;
  background-image: url("img/icon3.png");
  background-size: contain;
}
/* ------------------- SECTION 3 ------------------------- */

#icon3 {
  height: 7rem;
  width: 7rem;
  margin: auto;
  background-image: url("img/icon2.png");
  background-size: contain;
}

/* ----------------------- CONTACT ----------------------------- */

#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 25rem;
  background-color: var(--super_light_brown);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin-top: -2rem;
}
.light_rect {
  background-color: #f7eabc;
  margin: 0rem 2rem;
  text-align: center;
  font-family: "Bodoni Modona", serif;
  font-weight: 400;
}
#contact_info {
  display: flex;
  flex-direction: column;
}

.contact {
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
}

/* ---------------------- FOOTER ----------------------*/

#footer {
  background-color: var(--dark_brown);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3rem;
  color: var(--super_light_brown);
}
#footer i {
  font-size: 2rem;
}
#footer a {
  text-decoration: none;
  color: var(--super_light_brown);
  font-family: "Raleway", serif;
}
